openapi: 3.0.3
info:
  version: 0.1.0
  title: Totoy API
  description: The Totoy REST API. Totoy translates and explains text, PDFs and scanned documents in 18 languages and 6 CEFR language levels
  termsOfService: https://www.totoy.ai
  contact:
    name: Totoy Support
    email: support@totoy.ai
servers:
  - url: https://api.totoy.ai/v1
paths:
  /explanation:
    post:
      summary: Explains a given document in a specified output language and CEFR level
      operationId: explanation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - document
                - output_language
                - history
              properties:
                document:
                  type: string
                  description: Base64-encoded PDF, JPG or PNG file
                  example: SGVsbG8sIFdvcmxkIQ==
                input_language:
                  type: string
                  enum:
                    - auto
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Input Language ID of the document (optional)
                  example: auto
                  default: auto
                output_language:
                  type: string
                  enum:
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Output Language ID for the generated explanation
                  example: en
                output_language_level:
                  type: string
                  enum:
                    - a1
                    - a2
                    - b1
                    - b2
                    - c1
                    - c2
                  description: Output Language CEFR Level
                  default: b1
                history:
                  type: array
                  description: Conversation history to provide context for the model about the document. Empty on initial question.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of entry (e.g., question, answer, note).
                      role:
                        type: string
                        enum:
                          - user
                          - assistant
                          - system
                      content:
                        type: string
                        description: The text content of the history entry.

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - explanation
                  - document_id
                properties:
                  explanation:
                    type: string
                    description: Generated explanation based on the provided document
                    example: This is a letter from the City of Vienna. It's about the "Viennese Housing Bonus '23". This bonus is meant to help people with the increasing costs of living, especially housing costs. Each address in Vienna can receive 200 euros. To be eligible, you need to have your main residence in Vienna and be at least 18 years old by June 28, 2023. You can apply for the bonus online between July 17 and September 30, 2023, using the password provided in the letter. Remember, only one application per address is allowed. For more information and to apply, visit wien.gv.at/wohnbonus23.
                  document_id:
                    type: string
                    description: Uniqe Document ID to reference for follow-up questions
                    example: d8103263-4b9b-4c1e-96e6-7e5936e8fe1f      
  /translation:
    post:
      summary: Translates text to a target language
      operationId: translation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - output_language
              properties:
                text:
                  type: string
                  description: Input Text for Translation
                  example: Hello, World!
                input_language:
                  type: string
                  enum:
                    - auto
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Input Language ID of the document (optional)
                  example: auto
                  default: auto
                output_language:
                  type: string
                  enum:
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Output Language ID for the generated explanation
                  example: de
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - translation
                properties:
                  translation:
                    type: string
                    description: Translated text
                    example: Hallo, Welt!
  /document-translation:
    post:
      summary: Translates a document to a target language
      operationId: documentTranslation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - document
                - output_language
              properties:
                document:
                  type: string
                  description: Base64-encoded PDF, JPG or PNG file
                  example: SGVsbG8sIFdvcmxkIQ==
                input_language:
                  type: string
                  enum:
                    - auto
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Input Language ID of the document (optional)
                  example: auto
                  default: auto
                output_language:
                  type: string
                  enum:
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Output Language ID for the document translation
                  example: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - translated_document
                properties:
                  translated_document:
                    type: string
                    description: base64-encoded translated document
                    example: SGVsbG8sIFdvcmxkIQ==
  /document:
    post:
      summary: Inserts a document into the database and returns a document id.
      operationId: insertDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document:
                  type: string
                  format: byte
                  description: The document content encoded in base64.
              required:
               - document
      responses:
        '200':
          description: Document successfully inserted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  doc_id:
                    type: string
                    description: The unique identifier for the inserted document.
        '400':
          description: Invalid request format.
  /auth:
    post: 
      summary: Authenticates the device and returns an access token.
      operationId: authenticateDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
               deviceId:
                type: string
                description: A unique identifier for the device.
              required:
                - deviceId
      responses:
          '200':
            description: Authentication successful.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    accessToken:
                      type: string
                      description: Access token for the device to use in subsequent requests.
                    refreshToken:
                      type: string
                      description: (Optional) A token to use for obtaining a new access token once the current one expires.
          '401':
            description: Authentication failed.
  /user:
    post:
      summary: Adds a new user to the system
      operationId: addUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
              required:
                - name
                - email
      responses:
        '201':
          description: User successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    description: The unique identifier for the newly created user.
        '400':
          description: Invalid input provided.
  /user/{userId}:
    get:
      summary: Retrieves a user's details
      operationId: getUser
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user to retrieve
          schema:
            type: string
      responses:
        '200':
          description: User details retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
        '404':
          description: User not found.