openapi: 3.0.3
info:
  title: Totoy API
  description: Explain documents in simple, plain or detailed language and create Knowledge Bases from your documents in 19 languages.
  termsOfService: https://www.totoy.ai
  contact:
    name: Totoy Support
    email: support@totoy.ai
  license:
    name: MIT
    url: https://raw.githubusercontent.com/totoy-ai/totoy-openapi/main/LICENSE
  version: 1.1.2
servers:
  - url: https://api.totoy.ai/v1
security:
  - ApiKeyAuth: []
tags:
  - name: Explanation
    description: Given a document in any language, an output language and one of three language levels, the assistant will return an `Explanation` for this document.
  - name: Knowledge Bases
    description: Create `Knowledge Bases` from document or text `Sources` and chat with an assistant about them in 19 languages.
  - name: Sources
    description: '`Sources` are used to upload documents (.pdf, .jpg or .png) or plain texts that can be used with features like `Explanation` or `Knowledge Bases.`'
  - name: Projects
    description: '`Projects` are used to group `Knowledge Bases` and `Explanations`.'
  - name: Organization
    description: Get information about your `Organization`.
  - name: Extraction
    description: Extract structured data from any document. Use prebuilt models or define custom fields for extraction.
  - name: Classification
    description: Classify documents into labels based on their content. Use prebuilt models or define custom labels for classification.
paths:
  /explanation:
    post:
      operationId: createExplanation
      tags:
        - Explanation
      x-speakeasy-group: Explanation
      summary: Explains a document in any language
      description: Explains a given document Source in any language in a specified output language and language level.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplanationRequest'
            examples:
              explanation-request-example-1:
                $ref: '#/components/examples/explanation-request-example-1'
              explanation-request-example-2:
                $ref: '#/components/examples/explanation-request-example-2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplanationResponse'
              examples:
                explanation-response-example-1:
                  $ref: '#/components/examples/explanation-response-example-1'
                explanation-response-example-2:
                  $ref: '#/components/examples/explanation-response-example-2'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /knowledge-bases:
    post:
      operationId: createKnowledgeBase
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases
      summary: Creates a Knowledge Base.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKnowledgeBaseRequest'
            examples:
              create-knowledge-base-request-example:
                $ref: '#/components/examples/create-knowledge-base-request-example'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBase'
              examples:
                knowledge-base-example-1:
                  $ref: '#/components/examples/knowledge-base-example-1'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    get:
      operationId: listKnowledgeBases
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases
      summary: Returns a list of Knowledge Bases.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBasesList'
              examples:
                knowledge-bases-list-example:
                  $ref: '#/components/examples/knowledge-bases-list-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /knowledge-bases/{knowledge_base_id}:
    get:
      operationId: getKnowledgeBase
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases
      summary: Retrieves a Knowledge Base.
      parameters:
        - $ref: '#/components/parameters/knowledgeBaseIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBase'
              examples:
                knowledge-base-example-1:
                  $ref: '#/components/examples/knowledge-base-example-1'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    patch:
      operationId: modifyKnowledgeBase
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases
      summary: Modifies a Knowledge Base.
      parameters:
        - $ref: '#/components/parameters/knowledgeBaseIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyKnowledgeBaseRequest'
            examples:
              modify-knowledge-base-request-example:
                $ref: '#/components/examples/modify-knowledge-base-request-example'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBase'
              examples:
                knowledge-base-example-2:
                  $ref: '#/components/examples/knowledge-base-example-2'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    delete:
      operationId: deleteKnowledgeBase
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases
      summary: Deletes a Knowledge Base.
      parameters:
        - $ref: '#/components/parameters/knowledgeBaseIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteKnowledgeBaseResponse'
              examples:
                delete-knowledge-base-response-example:
                  $ref: '#/components/examples/delete-knowledge-base-response-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /knowledge-bases/{knowledge_base_id}/chat:
    post:
      operationId: chatWithKnowledgeBase
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases
      summary: Creates a Knowledge Base Chat Response for the given Messages.
      parameters:
        - $ref: '#/components/parameters/knowledgeBaseIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeBaseChatRequest'
            examples:
              knowledge-base-chat-request-example-1:
                $ref: '#/components/examples/knowledge-base-chat-request-example-1'
              knowledge-base-chat-request-example-2:
                $ref: '#/components/examples/knowledge-base-chat-request-example-2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBaseChatResponse'
              examples:
                knowledge-base-chat-response-example-1:
                  $ref: '#/components/examples/knowledge-base-chat-response-example-1'
                knowledge-base-chat-response-example-2:
                  $ref: '#/components/examples/knowledge-base-chat-response-example-2'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /knowledge-bases/{knowledge_base_id}/sources:
    post:
      operationId: addKnowledgeBaseSources
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases.Sources
      summary: Adds Sources to a Knowledge Base.
      description: Links one or multiple Sources to the Knowledge Base as new Knowledge Base Sources.
      parameters:
        - $ref: '#/components/parameters/knowledgeBaseIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AddKnowledgeBaseSourceRequest'
                - $ref: '#/components/schemas/AddKnowledgeBaseSourcesRequest'
            examples:
              add-knowledge-base-source-request-example:
                $ref: '#/components/examples/add-knowledge-base-source-request-example'
              add-knowledge-base-sources-request-example:
                $ref: '#/components/examples/add-knowledge-base-sources-request-example'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/KnowledgeBaseSource'
                  - $ref: '#/components/schemas/KnowledgeBaseSourcesList'
              examples:
                knowledge-base-source-example:
                  $ref: '#/components/examples/knowledge-base-source-example'
                knowledge-base-sources-list-example:
                  $ref: '#/components/examples/knowledge-base-sources-list-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    get:
      operationId: listKnowledgeBaseSources
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases.Sources
      summary: Returns a list of Knowledge Base Sources.
      parameters:
        - $ref: '#/components/parameters/knowledgeBaseIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBaseSourcesList'
              examples:
                knowledge-base-sources-list-example:
                  $ref: '#/components/examples/knowledge-base-sources-list-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /knowledge-bases/{knowledge_base_id}/sources/{source_id}:
    get:
      operationId: getKnowledgeBaseSource
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases.Sources
      summary: Retrieves a Knowledge Base Source.
      parameters:
        - $ref: '#/components/parameters/knowledgeBaseIdParam'
        - $ref: '#/components/parameters/sourceIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBaseSource'
              examples:
                knowledge-base-source-example:
                  $ref: '#/components/examples/knowledge-base-source-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    delete:
      operationId: deleteKnowledgeBaseSource
      tags:
        - Knowledge Bases
      x-speakeasy-group: KnowledgeBases.Sources
      summary: Removes a Knowledge Base Source from a Knowledge Base.
      description: Removes a Knowledge Base Source (the link to a Source) from a Knowledge Base. This operation does not delete the Source itself.
      parameters:
        - $ref: '#/components/parameters/knowledgeBaseIdParam'
        - $ref: '#/components/parameters/sourceIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteKnowledgeBaseSourceResponse'
              examples:
                delete-knowledge-base-source-response-example:
                  $ref: '#/components/examples/delete-knowledge-base-source-response-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /sources:
    post:
      operationId: createSource
      tags:
        - Sources
      x-speakeasy-group: Sources
      summary: Creates a Document or Text Source
      description: Creates a Document or Text Source that can be added to Knowledge Bases as a Knowledge Base Source or used as context for an Explanation. Upload a file that can be used across various endpoints. Individual document files can be up to 100 MB, text Sources can be up to 1000000 characters long, and the size of all Sources uploaded by one `Organization` can be up to 100 GB Document `Sources` are submitted as multipart/form-data and Text `Sources` as application/json.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateDocumentSourceRequest'
            examples:
              create-document-source-request-example:
                $ref: '#/components/examples/create-document-source-request-example'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTextSourceRequest'
            examples:
              create-text-source-request-example:
                $ref: '#/components/examples/create-text-source-request-example'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
              examples:
                document-source-example-1:
                  $ref: '#/components/examples/document-source-example-1'
                text-source-example-1:
                  $ref: '#/components/examples/text-source-example-1'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    get:
      operationId: listSources
      tags:
        - Sources
      x-speakeasy-group: Sources
      summary: Returns a list of Sources.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcesList'
              examples:
                sources-list-example:
                  $ref: '#/components/examples/sources-list-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /sources/{source_id}:
    get:
      operationId: getSource
      tags:
        - Sources
      x-speakeasy-group: Sources
      summary: Retrieves a Source.
      parameters:
        - $ref: '#/components/parameters/sourceIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
              examples:
                document-source-example-1:
                  $ref: '#/components/examples/document-source-example-1'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    patch:
      operationId: modifySource
      tags:
        - Sources
      x-speakeasy-group: Sources
      summary: Modifies a Source.
      parameters:
        - $ref: '#/components/parameters/sourceIdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ModifyDocumentSourceRequest'
            examples:
              modify-document-source-request-example:
                $ref: '#/components/examples/modify-document-source-request-example'
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyTextSourceRequest'
            examples:
              modify-text-source-request-example:
                $ref: '#/components/examples/modify-text-source-request-example'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
              examples:
                document-source-example-2:
                  $ref: '#/components/examples/document-source-example-2'
                text-source-example-2:
                  $ref: '#/components/examples/text-source-example-2'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    delete:
      operationId: deleteSource
      tags:
        - Sources
      x-speakeasy-group: Sources
      summary: Deletes a Source.
      parameters:
        - $ref: '#/components/parameters/sourceIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSourceResponse'
              examples:
                delete-source-response-example:
                  $ref: '#/components/examples/delete-source-response-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /sources/{source_id}/content:
    get:
      operationId: getSourceContent
      tags:
        - Sources
      x-speakeasy-group: Sources.Content
      summary: Retrieves the content of a Source.
      description: The Source content can either be a plain text string or a document file.
      parameters:
        - $ref: '#/components/parameters/sourceIdParam'
      responses:
        '200':
          description: OK
          headers:
            Content-Disposition:
              description: Suggests a filename for the downloaded file when applicable.
              schema:
                type: string
                example: attachment; filename="example_document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
                description: Plain-text string of the `Text Source` content.
                example: Totoy GmbH was founded on November 8, 2023.
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /projects:
    post:
      operationId: createProject
      tags:
        - Projects
      x-speakeasy-group: Projects
      summary: Creates a Project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
            examples:
              create-project-request-example:
                $ref: '#/components/examples/create-project-request-example'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                project-example-1:
                  $ref: '#/components/examples/project-example-1'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    get:
      operationId: listProjects
      tags:
        - Projects
      x-speakeasy-group: Projects
      summary: Returns a list of Projects.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsList'
              examples:
                projects-list-example:
                  $ref: '#/components/examples/projects-list-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /projects/{project_id}:
    get:
      operationId: getProject
      tags:
        - Projects
      x-speakeasy-group: Projects
      summary: Retrieves a Project.
      parameters:
        - $ref: '#/components/parameters/projectIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                Example:
                  $ref: '#/components/examples/project-example-1'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    patch:
      operationId: modifyProject
      tags:
        - Projects
      x-speakeasy-group: Projects
      summary: Modifies a Project.
      parameters:
        - $ref: '#/components/parameters/projectIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyProjectRequest'
            examples:
              modify-project-request-example:
                $ref: '#/components/examples/modify-project-request-example'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                Example:
                  $ref: '#/components/examples/project-example-2'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
    delete:
      operationId: deleteProject
      tags:
        - Projects
      x-speakeasy-group: Projects
      summary: Deletes a Project and all its associated resources.
      parameters:
        - $ref: '#/components/parameters/projectIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProjectResponse'
              examples:
                delete-project-response-example:
                  $ref: '#/components/examples/delete-project-response-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /organization:
    get:
      operationId: getOrganization
      tags:
        - Organization
      x-speakeasy-group: Organization
      summary: Returns the Organization details.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                organization-example:
                  $ref: '#/components/examples/organization-example'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /extraction:
    post:
      operationId: createExtraction
      tags:
        - Extraction
      x-speakeasy-group: Extraction
      summary: Extracts structured data from a Document
      description: Extracts data fields from a document and outputs recommendations whether a field should be reviewed for validation. Use a prebuilt model or define custom fields for an `Extraction`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
            examples:
              extraction-request-example-1:
                $ref: '#/components/examples/extraction-request-example-1'
              extraction-request-example-2:
                $ref: '#/components/examples/extraction-request-example-2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ExtractionResponse'
                  - $ref: '#/components/schemas/ExtractionResponseRadiologyReferralExtractionGerman'
              examples:
                extraction-response-radiology-referral-extraction-german-example-1:
                  $ref: '#/components/examples/extraction-response-radiology-referral-extraction-german-example-1'
                extraction-response-example-1:
                  $ref: '#/components/examples/extraction-response-example-1'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
  /classification:
    post:
      operationId: createClassification
      tags:
        - Classification
      x-speakeasy-group: Classification
      summary: Classifies a Document into labels based on its content.
      description: Classifies documents into labels based on its content. Use prebuilt models or define custom labels for a `Classification`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassificationRequest'
            examples:
              classification-request-example-1:
                $ref: '#/components/examples/classification-request-example-1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationResponseRadiologyDocumentClassificationGerman'
              examples:
                classification-response-radiology-document-classification-german-example-1:
                  $ref: '#/components/examples/classification-response-radiology-document-classification-german-example-1'
        4XX:
          $ref: '#/components/responses/general4XXResponse'
        5XX:
          $ref: '#/components/responses/general5XXResponse'
components:
  parameters:
    knowledgeBaseIdParam:
      name: knowledge_base_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 28
        pattern: ^kb_[a-zA-Z0-9]{25}$
      description: Unique identifier for a `Knowledge Base`.
      examples:
        knowledge-base-id-example:
          $ref: '#/components/examples/knowledge-base-id-example'
    sourceIdParam:
      name: source_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 29
        pattern: ^src_[a-zA-Z0-9]{25}$
      description: Unique identifier for a `Source` that was uploaded to Totoy.
      examples:
        source-id-example:
          $ref: '#/components/examples/source-id-example'
    projectIdParam:
      name: project_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 28
        pattern: ^pj_[a-zA-Z0-9]{25}$
      description: Unique identifier for a `Project` created in Totoy.
      examples:
        project-id-example:
          $ref: '#/components/examples/project-id-example'
  schemas:
    OutputLanguage:
      title: OutputLanguage
      description: |
        The ISO 639-1 code for the language in which the `Explanation` should be generated.
        Supported Languages:
        - ar: Arabic
        - bs: Bosnian
        - cs: Czech
        - de: German
        - es: Spanish
        - en: English
        - fa: Farsi
        - fr: French
        - hr: Croatian
        - hu: Hungarian
        - it: Italian
        - pl: Polish
        - ro: Romanian
        - sk: Slovak
        - sl: Slovenian
        - sr: Serbian
        - tl: Tagalog
        - tr: Turkish
        - uk: Ukrainian
        - zh: Mandarin
      type: string
      enum:
        - ar
        - bs
        - cs
        - de
        - es
        - en
        - fa
        - fr
        - hr
        - hu
        - it
        - pl
        - ro
        - sk
        - sl
        - sr
        - tl
        - tr
        - uk
        - zh
      example: en
    LanguageLevel:
      title: LanguageLevel
      description: |
        One of three language levels for the generated text:
        1. Simple Language: Answers are short and simple, using easy words and a clear structure.
        2. Plain Language: Answers are short and the assistant explains complicated terms.
        3. Detailed Language: Answers are not simplified and the assistant answers in detail.
      type: string
      enum:
        - simple
        - plain
        - detailed
      example: plain
    CustomMetadata:
      title: CustomMetadata
      description: Custom optional metadata for a `Source` provided by a client. Up to 10 key-value pairs.
      type: object
      additionalProperties: true
      maxProperties: 10
      example:
        internal_tag: general_documents
    Reference:
      title: Reference
      description: |
        Represents a reference to a `Source` that was used to generate the answer.
        The reference is used to provide backlinks to the original source and to provide context for the generated answer.
      type: object
      additionalProperties: false
      properties:
        text:
          description: String in the message content that needs to be replaced.
          type: string
          maxLength: 8
          example: '[R1]'
        source_id:
          description: What `Source` the generated answer depended on.
          maxLength: 29
          pattern: ^src_[a-zA-Z0-9]{25}$
          type: string
        page_number:
          description: The page number in the `Source` the generated answer depended on. Only applicable for documents.
          type: integer
          format: int32
          example: 5
          nullable: true
          minimum: 1
          maximum: 1000
        backlink:
          description: The backlink of the `Source`, so it can be called from the client.
          type: string
          maxLength: 512
          example: https://www.example.com/text.pdf
        custom_metadata:
          $ref: '#/components/schemas/CustomMetadata'
      required:
        - text
        - source_id
      example:
        text: '[R1]'
        source_id: src_oXiYDg8QOc9JsOk86idRXiywD
        page_number: 5
        backlink: https://www.totoy.ai/totoy-company-overview.pdf
        custom_metadata:
          internal_tag: general_documents
    Message:
      title: Message
      description: |
        Represents a message within an `Explanation` or a `Knowledge Base Chat`.
        For `Explanations` - An `assistant` message is either an initial `Explanation` for the document when no messages were provided in the request or an answer to a user message in the provided conversation history.
      type: object
      additionalProperties: false
      properties:
        role:
          description: The entity that produced the message. One of `user` or `assistant`.
          type: string
          enum:
            - user
            - assistant
        content:
          description: The content of the message. The maximum length is 16,000 characters.
          type: string
          maxLength: 16000
        references:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
          maxItems: 50
      required:
        - role
        - content
      example:
        role: assistant
        content: |-
          Hi!
          The co-founders of Totoy are Benedikt Hielscher, Francis Rafal, Marcel Koller, Michael Perger and Simon Hoffmann.[R1]
    ExplanationRequest:
      title: ExplanationRequest
      type: object
      additionalProperties: false
      properties:
        output_language:
          $ref: '#/components/schemas/OutputLanguage'
        language_level:
          $ref: '#/components/schemas/LanguageLevel'
        source_id:
          description: The unique identifier of the uploaded `Source` to be used as context for the `Explanation`.
          maxLength: 29
          pattern: ^src_[a-zA-Z0-9]{25}$
          type: string
          example: src_dmZ7imKLaPcQnv5ckvGlOEAA7
        messages:
          description: The conversation history. For an initial `Explanation` just provide an empty array or no messages. For follow-up questions, provide the entire conversation history.
          type: array
          items:
            $ref: '#/components/schemas/Message'
          maxItems: 50
          example: []
        markdown_response:
          description: Whether the response should be returned as Markdown formatted text. If 'false', the response will be returned in plain text.
          type: boolean
          default: true
          example: true
      required:
        - source_id
        - output_language
        - language_level
    ExplanationResponse:
      title: ExplanationResponse
      type: object
      properties:
        project_id:
          description: The unique identifier of the `Project` this `Explanation` was assigned to. The `Explanation` will be assigned to the `project_id` of the `Source`.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        output_language:
          $ref: '#/components/schemas/OutputLanguage'
        language_level:
          $ref: '#/components/schemas/LanguageLevel'
        source_id:
          description: The unique identifier of the uploaded `Source` that was used as context for the `Explanation`.
          maxLength: 29
          pattern: ^src_[a-zA-Z0-9]{25}$
          type: string
          example: src_dmZ7imKLaPcQnv5ckvGlOEAA7
        answer:
          $ref: '#/components/schemas/Message'
        markdown_response:
          description: Whether the response is a Markdown formatted text.
          type: boolean
          example: true
      required:
        - project_id
        - output_language
        - language_level
        - source_id
        - answer
        - markdown_response
    Problem:
      title: Problem
      description: A Response Body for HTTP Problem Details in RFC 9457 format.
      type: object
      additionalProperties: false
      properties:
        type:
          description: A URI reference that identifies the problem type.
          type: string
          maxLength: 512
          example: https://docs.totoy.ai/probs/out-of-credit
        title:
          description: A short, human-readable summary of the problem type.
          type: string
          maxLength: 512
          example: You do not have enough credit.
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          format: int32
          example: 403
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
          maxLength: 4096
          example: You do not have enough credit to perform this operation.
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          type: string
          maxLength: 512
          example: /projects/pj_avX7imfLaPcQnv5ckvGlOEBA9
    KnowledgeBase:
      title: KnowledgeBase
      type: object
      additionalProperties: false
      properties:
        knowledge_base_id:
          description: The unique identifier for the `Knowledge Base`.
          maxLength: 28
          pattern: ^kb_[a-zA-Z0-9]{25}$
          type: string
          example: kb_feMfJbeqbAEj4u8K5HqmKpUbY
        name:
          description: The name for the `Knowledge Base`.
          type: string
          maxLength: 256
          example: Totoy Customer Support Assistant
        created_at:
          description: The date-time of when the `Knowledge Base` was created, in ISO 8601 format.
          type: string
          format: date-time
          example: '2023-07-05T12:00:00Z'
        updated_at:
          description: The date-time of when the `Knowledge Base` was last modified, in ISO 8601 format.
          type: string
          format: date-time
          example: '2023-07-05T12:00:00Z'
        instructions:
          description: The instructions for the `Knowledge Base`.
          type: string
          maxLength: 4096
          example: You are a customer support assistant for the customers of the company Totoy.
        project_id:
          description: The unique identifier for the `Project` that the `Knowledge Base` is assigned to.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
      required:
        - knowledge_base_id
        - name
        - created_at
        - updated_at
        - instructions
        - project_id
    KnowledgeBasesList:
      title: KnowledgeBasesList
      type: object
      additionalProperties: false
      properties:
        data:
          description: A list of `Knowledge Bases`.
          type: array
          items:
            $ref: '#/components/schemas/KnowledgeBase'
          maxItems: 1500
      example:
        data:
          - knowledge_base_id: kb_feMfJbeqbAEj4u8K5HqmKpUbY
            name: Totoy Customer Support Assistant
            instructions: You are a customer support assistant for the customers of the company Totoy.
            project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
            created_at: '2023-07-05T12:00:00Z'
            updated_at: '2023-07-05T12:00:00Z'
          - knowledge_base_id: kb_kfjd34sfgsd2gfskijuh23zgt
            name: Totoy Internal Assistant
            instructions: You are an internal assistant for the employees of the company Totoy.
            project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
            created_at: '2023-07-05T12:34:13Z'
            updated_at: '2023-07-05T12:34:13Z'
    CreateKnowledgeBaseRequest:
      title: CreateKnowledgeBaseRequest
      type: object
      additionalProperties: false
      properties:
        name:
          description: The name for the `Knowledge Base`
          type: string
          maxLength: 256
          example: Totoy Customer Support Assistant
        instructions:
          description: The instructions for the `Knowledge Base`.
          type: string
          maxLength: 4096
          example: You are a customer support assistant for the customers of the company Totoy.
        project_id:
          description: The unique identifier for the `Project` that the `Knowledge Base` will be assigned to. If no `project_id` is provided, the `Knowledge Base` will be assigned to the default `Project`.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
    DeleteKnowledgeBaseResponse:
      title: DeleteKnowledgeBaseResponse
      type: object
      additionalProperties: false
      properties:
        knowledge_base_id:
          description: The unique identifier of the `Knowledge Base` that was deleted.
          maxLength: 28
          pattern: ^kb_[a-zA-Z0-9]{25}$
          type: string
          example: kb_feMfJbeqbAEj4u8K5HqmKpUbY
        deleted:
          description: A boolean value indicating if the `Knowledge Base` was successfully deleted.
          type: boolean
          example: true
      required:
        - knowledge_base_id
        - deleted
    ModifyKnowledgeBaseRequest:
      title: ModifyKnowledgeBaseRequest
      description: Request body for modifying a `Knowledge Base`.
      type: object
      additionalProperties: false
      properties:
        name:
          description: The name for the `Knowledge Base`.
          type: string
          maxLength: 255
          example: Totoy Developer Support Assistant
        instructions:
          description: The instructions for the `Knowledge Base`.
          type: string
          maxLength: 4096
          example: You are a developer support assistant for the developers using the Totoy API.
        project_id:
          description: The unique identifier for the `Project` that the `Knowledge Base` should be assigned to. If the `project_id` is changed, the `project_ids` of the `Sources` that are used as `Knowledge Base Sources` will also be changed. If a `Source` is used by multiple `Knowledge Bases`, then the `project_id` of the `Knowledge Base` cannot be changed.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
    KnowledgeBaseChatRequest:
      title: KnowledgeBaseChatRequest
      type: object
      additionalProperties: false
      properties:
        output_language:
          $ref: '#/components/schemas/OutputLanguage'
        language_level:
          $ref: '#/components/schemas/LanguageLevel'
        messages:
          description: The conversation history. Provide at least one user message to start the conversation.
          type: array
          items:
            $ref: '#/components/schemas/Message'
          maxItems: 50
        markdown_response:
          description: Whether the response should be returned as Markdown formatted text. If 'false', the response will be returned in plain text.
          type: boolean
          default: true
          example: true
      required:
        - output_language
        - language_level
        - messages
    KnowledgeBaseChatResponse:
      title: KnowledgeBaseChatResponse
      type: object
      additionalProperties: false
      properties:
        project_id:
          description: The `Project` that the `Knowledge Base` is assigned to.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        output_language:
          $ref: '#/components/schemas/OutputLanguage'
        language_level:
          $ref: '#/components/schemas/LanguageLevel'
        answer:
          $ref: '#/components/schemas/Message'
        markdown_response:
          description: Whether the response is a Markdown formatted text.
          type: boolean
          example: true
        knowledge_base_id:
          description: The unique identifier of the `Knowledge Base` that was used for the `Chat`.
          maxLength: 28
          pattern: ^kb_[a-zA-Z0-9]{25}$
          type: string
          example: kb_feMfJbeqbAEj4u8K5HqmKpUbY
      required:
        - project_id
        - output_language
        - language_level
        - answer
        - markdown_response
        - knowledge_base_id
    Source:
      title: Source
      type: object
      description: The `Source` object represents a document source (.pdf, .jpg, .png) or text source (plain-text) that has been uploaded to Totoy.
      properties:
        source_id:
          description: Unique identifier for the `Source`.
          maxLength: 29
          pattern: ^src_[a-zA-Z0-9]{25}$
          type: string
          example: src_oXiYDg8QOc9JsOk86idRXiywD
        source_type:
          description: Type for this source (document or text).
          type: string
          enum:
            - document
            - text
          example: document
        bytes:
          description: Size of the document file or text, in bytes.
          type: integer
          format: int32
          example: 1234567
        created_at:
          description: Date-time for when the `Source` was created, in ISO 8601 format.
          type: string
          format: date-time
          example: '2024-03-01T00:00:00Z'
        updated_at:
          description: Date-time for when the `Source` was last modified, in ISO 8601 format.
          type: string
          format: date-time
          example: '2024-03-01T00:00:00Z'
        title:
          description: Title of the document or text.
          type: string
          maxLength: 512
          example: Totoy Company Overview
        document_file_name:
          description: The file name of a `Source` document.
          type: string
          maxLength: 255
          nullable: true
          example: totoy-company-overview.pdf
        backlink:
          description: An external url to the `Source` that can be used by clients to link back to the original document or text (i.e. a web page containing that text).
          type: string
          maxLength: 512
          example: https://www.totoy.ai/totoy-company-overview.pdf
        valid_from:
          description: From what time the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_from` is set, the `Source` is valid from the time it is added to `Sources`.
          type: string
          format: date-time
          nullable: true
          example: '2024-01-01T00:00:00Z'
        valid_until:
          description: Until when the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_until` is set, the `Source` is valid until it is removed from `Sources`.
          type: string
          format: date-time
          nullable: true
          example: '2026-12-31T23:59:59Z'
        project_id:
          description: The unique identifier of the project this `Source` is assigned to. `Sources` can only be used by resources with the same `project_id`.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        custom_metadata:
          $ref: '#/components/schemas/CustomMetadata'
        knowledge_base_ids:
          description: List of `Knowledge Base` identifiers where this `Source` is used.
          type: array
          items:
            type: string
            maxLength: 29
            pattern: ^kb_[a-zA-Z0-9]{25}$
            example: kb_feMfJbeqbAEj4u8K5HqmKpUbY
          nullable: true
          example:
            - kb_feMfJbeqbAEj4u8K5HqmKpUbY
            - kb_7eMfJbeqbAEj4u8K5HqmKpUbY
          maxItems: 1500
        status:
          description: The parsing status of the Document Source. The status `completed` indicates that the source is ready for use. The status parameter is only available for Document Sources.
          type: string
          enum:
            - in_progress
            - completed
            - failed
          example: in_progress
        pages:
          description: The number of pages of the Document Source. The pages parameter is only available for Document Sources.
          type: integer
          example: 27
      required:
        - source_id
        - source_type
        - bytes
        - created_at
        - updated_at
        - project_id
    KnowledgeBaseSource:
      title: KnowledgeBaseSource
      description: The `Knowledge Base Source` represents a link to a `Source` (.pdf, .jpg, .png or plain-text) that has been added to a `Knowledge Base`, so it can be retrieved as context for a `Knowledge Base Chat`.
      allOf:
        - $ref: '#/components/schemas/Source'
        - type: object
          properties:
            knowledge_base_id:
              description: The unique identifier of the `Knowledge Base` that the `Knowledge Base Source` is associated with.
              maxLength: 28
              pattern: ^kb_[a-zA-Z0-9]{25}$
              type: string
              example: kb_feMfJbeqbAEj4u8K5HqmKpUbY
            status:
              description: The indexing status of the Knowledge Base Source. The status `completed` indicates that the source is ready for use.
              type: string
              enum:
                - in_progress
                - completed
                - failed
              example: completed
          required:
            - knowledge_base_id
    KnowledgeBaseSourcesList:
      title: KnowledgeBaseSourcesList
      description: A list of `Knowledge Base Sources` that are used by a `Knowledge Base` for Retrieval.
      type: object
      additionalProperties: false
      properties:
        data:
          description: A list of `Knowledge Base Sources`.
          type: array
          items:
            $ref: '#/components/schemas/KnowledgeBaseSource'
          maxItems: 1500
      example:
        data:
          - source_id: src_oXiYDg8QOc9JsOk86idRXiywD
            source_type: document
            bytes: 1234567
            created_at: '2024-03-01T00:00:00Z'
            updated_at: '2024-03-01T00:00:00Z'
            title: Totoy Company Overview
            document_file_name: totoy-company-overview.pdf
            backlink: https://www.totoy.ai/totoy-company-overview.pdf
            valid_from: '2024-01-01T00:00:00Z'
            valid_until: '2026-12-31T23:59:59Z'
            custom_metadata:
              internal_tag: general_documents
            knowledge_base_id: kb_feMfJbeqbAEj4u8K5HqmKpUbY
            status: completed
          - source_id: src_qoY7rSGkiWtn4NP8kPXc7xzrq
            source_type: text
            bytes: 44
            created_at: '2024-04-01T00:00:00Z'
            updated_at: '2024-04-01T00:00:00Z'
            title: Foundation Date
            backlink: https://www.totoy.ai/general-info
            valid_from: '2024-01-01T00:00:00Z'
            valid_until: '2026-12-31T23:59:59Z'
            custom_metadata:
              internal_tag: text_snippets
            knowledge_base_id: kb_feMfJbeqbAEj4u8K5HqmKpUbY
            status: completed
    AddKnowledgeBaseSourceRequest:
      title: AddKnowledgeBaseSourceRequest
      type: object
      additionalProperties: false
      properties:
        source_id:
          description: A `source_id` of a `Source` to add as a `Knowledge Base Source`. Only `Sources` that have the same `project_id` as the `Knowledge Base` can be added as `Knowledge Base Sources`.
          maxLength: 29
          pattern: ^src_[a-zA-Z0-9]{25}$
          type: string
          example: src_oXiYDg8QOc9JsOk86idRXiywD
      required:
        - source_id
    AddKnowledgeBaseSourcesRequest:
      title: AddKnowledgeBaseSourcesRequest
      type: object
      additionalProperties: false
      properties:
        source_ids:
          description: A list of `source_ids` of `Sources` to add as `Knowledge Base Sources`.
          type: array
          items:
            type: string
            maxLength: 29
            pattern: ^src_[a-zA-Z0-9]{25}$
            description: Unique identifier for a `Source` to add as a `Knowledge Base Source`.
          maxItems: 1500
          example:
            - src_oXiYDg8QOc9JsOk86idRXiywD
            - src_qoY7rSGkiWtn4NP8kPXc7xzrq
      required:
        - source_ids
    DeleteKnowledgeBaseSourceResponse:
      title: DeleteKnowledgeBaseSourceResponse
      type: object
      additionalProperties: false
      properties:
        knowledge_base_id:
          description: The unique identifier of the `Knowledge Base` the `Knowledge Base Source` was deleted from.
          maxLength: 28
          pattern: ^kb_[a-zA-Z0-9]{25}$
          type: string
          example: kb_feMfJbeqbAEj4u8K5HqmKpUbY
        source_id:
          description: Unique identifier for the `Source` which link was deleted from the `Knowledge Base`, so it will no longer be considered as a `Knowledge Base Source`.
          maxLength: 29
          pattern: ^src_[a-zA-Z0-9]{25}$
          type: string
          example: src_dmZ7imKLaPcQnv5ckvGlOEAA7
        deleted:
          description: Indicates whether the `Knowledge Base Source` was successfully deleted. Note that only the link to the `Source` is deleted, not the `Source` itself.
          type: boolean
          example: true
      required:
        - knowledge_base_id
        - source_id
        - deleted
    SourcesList:
      title: SourcesList
      description: A list of `Sources` that were uploaded to Totoy.
      type: object
      additionalProperties: false
      properties:
        data:
          description: A list of `Sources`.
          type: array
          items:
            $ref: '#/components/schemas/Source'
          maxItems: 1000000
      required:
        - data
      example:
        data:
          - source_id: src_oXiYDg8QOc9JsOk86idRXiywD
            source_type: document
            bytes: 1234567
            created_at: '2024-03-01T00:00:00Z'
            updated_at: '2024-03-01T00:00:00Z'
            title: Totoy Company Overview
            document_file_name: totoy-company-overview.pdf
            backlink: https://www.totoy.ai/totoy-company-overview.pdf
            valid_from: '2024-01-01T00:00:00Z'
            valid_until: '2026-12-31T23:59:59Z'
            custom_metadata:
              internal_tag: general_documents
            status: completed
          - source_id: src_qoY7rSGkiWtn4NP8kPXc7xzrq
            source_type: text
            bytes: 44
            created_at: '2024-04-01T00:00:00Z'
            updated_at: '2024-04-01T00:00:00Z'
            title: Foundation Date
            backlink: https://www.totoy.ai/general-info
            valid_from: '2024-01-01T00:00:00Z'
            valid_until: '2026-12-31T23:59:59Z'
            custom_metadata:
              internal_tag: text_snippets
    CreateDocumentSourceRequest:
      title: CreateDocumentSourceRequest
      type: object
      additionalProperties: false
      properties:
        document_file:
          description: A document file (not file name) to be uploaded to `Sources`. Supported file types are .pdf, .jpg, and .png.
          type: string
          format: binary
          maxLength: 100000000
          example: <binary_file>
        title:
          description: Title of the document.
          type: string
          maxLength: 512
          example: Totoy Company Overview
        backlink:
          description: A url to the document source that can be used by clients to link back to the original document.
          type: string
          example: https://www.totoy.ai/totoy-company-overview.pdf
          maxLength: 512
        valid_from:
          description: From what time the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_from` is set, the `Source` is valid from the time it is added to `Sources`.
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
          nullable: true
        valid_until:
          description: Until when the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_until` is set, the `Source` is valid until it is removed from `Sources`.
          type: string
          format: date-time
          example: '2026-12-31T23:59:59Z'
          nullable: true
        project_id:
          description: The unique identifier of the project this `Source` should be assigned to. `Sources` can only be used by resources with the same `project_id`. If no `project_id` is set, the `Source` will be assigned to the default project.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          nullable: true
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        custom_metadata:
          $ref: '#/components/schemas/CustomMetadata'
      required:
        - document_file
    CreateTextSourceRequest:
      title: CreateTextSourceRequest
      type: object
      additionalProperties: false
      properties:
        text_content:
          description: Plain-text string to be uploaded to `Sources`.
          type: string
          maxLength: 1000000
          example: Totoy GmbH was founded on November 8, 2023.
        title:
          description: Title of the text `Source`.
          type: string
          maxLength: 512
          nullable: true
          example: Foundation Date
        backlink:
          description: A url to the text `Source` that can be used by clients to link back to the original text.
          type: string
          maxLength: 512
          example: https://www.totoy.ai/general-info
        valid_from:
          description: From what time the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_from` is set, the `Source` is valid from the time it is added to `Sources`.
          type: string
          format: date-time
          nullable: true
          example: '2024-01-01T00:00:00Z'
        valid_until:
          description: Until when the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_until` is set, the `Source` is valid until it is removed from `Sources`.
          type: string
          format: date-time
          nullable: true
          example: '2026-12-31T23:59:59Z'
        project_id:
          description: The unique identifier of the project this `Source` should be assigned to. `Sources` can only be used by resources with the same `project_id`. If no `project_id` is set, the `Source` will be assigned to the default project.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          nullable: true
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        custom_metadata:
          $ref: '#/components/schemas/CustomMetadata'
      required:
        - text_content
    DeleteSourceResponse:
      title: DeleteSourceResponse
      type: object
      additionalProperties: false
      properties:
        source_id:
          description: Unique identifier for the `Source` that was deleted.
          maxLength: 29
          pattern: ^src_[a-zA-Z0-9]{25}$
          type: string
          example: src_oXiYDg8QOc9JsOk86idRXiywD
        deleted:
          description: Indicates whether the `Source` was successfully deleted.
          type: boolean
          example: true
      required:
        - source_id
        - deleted
    ModifyDocumentSourceRequest:
      title: ModifyDocumentSourceRequest
      description: Request body for modifying a document `Source`.
      type: object
      additionalProperties: false
      properties:
        document_file:
          description: A document file (not file name) to replace the original document file of the `Source`. Supported file types are .pdf, .jpg, and .png.
          type: string
          maxLength: 100000000
          format: binary
          example: <binary_file>
        title:
          description: Title of the document.
          type: string
          maxLength: 512
          example: Totoy Company Overview
        backlink:
          description: A url to the document source that can be used by clients to link back to the original document.
          type: string
          maxLength: 512
          example: https://www.totoy.ai/totoy-company-overview.pdf
        valid_from:
          description: From what time the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_from` is set, the `Source` is valid from the time it is added to `Sources`.
          type: string
          format: date-time
          nullable: true
          example: '2025-01-01T00:00:00Z'
        valid_until:
          description: Until when the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_until` is set, the `Source` is valid until it is removed from `Sources`.
          type: string
          format: date-time
          nullable: true
          example: '2027-12-31T23:59:59Z'
        project_id:
          description: The unique identifier of the project this `Source` should be assigned to. `Sources` can only be used by resources with the same `project_id`. If no `project_id` is set, the `Source` will be assigned to the default project. A `Source` can only be assigned to a different `Project`, if no `Knowledge Bases` are using the `Source`.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          nullable: true
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        custom_metadata:
          $ref: '#/components/schemas/CustomMetadata'
    ModifyTextSourceRequest:
      title: ModifyTextSourceRequest
      description: Request body for modifying a `Text Source`.
      type: object
      additionalProperties: false
      properties:
        text_content:
          description: Plain-text string to replace the original `text_content` of the `Source`.
          type: string
          maxLength: 1000000
          example: Totoy GmbH was founded on November 8, 2023, but the co-founders started working on Totoy on March 18, 2023.
        title:
          description: Title of the text `Source`.
          type: string
          maxLength: 512
          example: Foundation Date
        backlink:
          description: A url to the text `Source` that can be used by clients to link back to the original text.
          type: string
          maxLength: 512
          example: https://www.totoy.ai/general-info
        valid_from:
          description: From what time the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_from` is set, the `Source` is valid from the time it is added to `Sources`.
          type: string
          format: date-time
          nullable: true
          example: '2024-01-01T00:00:00Z'
        valid_until:
          description: Until when the `Source` can be used by a `Knowledge Base` or an `Explanation`. If no `valid_until` is set, the `Source` is valid until it is removed from `Sources`.
          type: string
          format: date-time
          nullable: true
          example: '2026-12-31T23:59:59Z'
        project_id:
          description: The unique identifier of the project this `Source` should be assigned to. `Sources` can only be used by resources with the same `project_id`. If no `project_id` is set, the `Source` will be assigned to the default project. A `Source` can only be assigned to a different `Project`, if no `Knowledge Bases` are using the `Source`.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          nullable: true
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        custom_metadata:
          $ref: '#/components/schemas/CustomMetadata'
    Project:
      title: Project
      description: A project is a collection of `Sources` and `Knowledge Bases` with the same lifespan. If a project is deleted, all associated resources will also be deleted. `Explanations` can also be assigned to `Projects` for billing purposes.
      type: object
      additionalProperties: false
      properties:
        project_id:
          description: The unique identifier of a `Project`
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        name:
          description: The name of the `Project`
          type: string
          maxLength: 256
          example: Totoy GmbH Project
        created_at:
          description: Date-time of when the `Project` was created, in ISO 8601 format
          type: string
          format: date-time
          example: '2023-07-05T12:34:13Z'
        updated_at:
          description: Date-time of when the `Project` was last modified, in ISO 8601 format
          type: string
          format: date-time
          example: '2023-07-05T12:34:13Z'
        knowledge_base_ids:
          description: A list of `knowledge_base_ids` that are assigned to the `Project`. One `Project` can have multiple `Knowledge Bases`.
          type: array
          items:
            type: string
            maxLength: 28
            pattern: ^kb_[a-zA-Z0-9]{25}$
          maxItems: 1500
          example: []
        source_ids:
          description: A list of `source_ids` of `Sources` that are assigned to the `Project`.
          type: array
          items:
            type: string
            maxLength: 29
            pattern: ^src_[a-zA-Z0-9]{25}$
            description: Unique identifier for a `Source` that is assigned to the `Project`.
          maxItems: 10000
          example:
            - src_oXiYDg8QOc9JsOk86idRXiywD
            - src_qoY7rSGkiWtn4NP8kPXc7xzrq
        is_default:
          description: Whether the `Project` is the default `Project` for the `Organization`. The default `Project` is used when no `Project` is specified in an API request. The default `Project` cannot be deleted.
          type: boolean
          example: false
        usage:
          description: The usage of the `Project`.
          type: object
          properties:
            assistant_messages:
              description: The number of `Messages` with the role `assistant`, used by the `Project` in the current billing period.
              type: object
              properties:
                knowledge_bases_chats:
                  description: The number of `Knowledge Base Chat Messages` with the role `assistant`, used by the `Project` in the current billing period.
                  type: integer
                  example: 1354
                explanations:
                  description: The number of `Explanation Messages` with the role `assistant`, used by the `Project` in the current billing period.
                  type: integer
                  example: 1234
                total:
                  description: The total number of `Messages` with the role `assistant`, used by the `Project` in the current billing period.
                  type: integer
                  example: 2588
            document_sources_pages:
              description: The number of `Document Sources` pages stored in the `Project`.
              type: integer
              example: 2534
            text_sources:
              description: The amount of `Text Sources` stored in the `Project`.
              type: integer
              example: 3756
          example:
            assistant_messages:
              knowledge_bases_chats: 1354
              explanations: 1234
              total: 2588
            document_sources_pages: 2534
            text_sources: 3756
      required:
        - project_id
        - name
        - created_at
        - updated_at
        - knowledge_base_ids
        - source_ids
        - is_default
    ProjectsList:
      title: ProjectsList
      description: A list of `Projects`.
      type: object
      additionalProperties: false
      properties:
        data:
          description: A list of `Projects`.
          type: array
          items:
            $ref: '#/components/schemas/Project'
          maxItems: 1500
      required:
        - data
      example:
        data:
          - project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
            name: Totoy GmbH Project
            created_at: '2023-07-05T12:34:13Z'
            updated_at: '2024-01-05T12:00:00Z'
            knowledge_base_ids:
              - kb_feMfJbeqbAEj4u8K5HqmKpUbY
              - kb_kfjd34sfgsd2gfskijuh23zgt
            is_default: false
          - project_id: pj_bxW8jnfoMbRQow6dlHmPIRCA2
            name: Default Project
            created_at: '2023-07-05T12:34:13Z'
            updated_at: '2023-07-05T12:34:13Z'
            knowledge_base_ids: []
            is_default: true
    CreateProjectRequest:
      title: CreateProjectRequest
      type: object
      additionalProperties: false
      properties:
        name:
          description: The name of the `Project`.
          type: string
          maxLength: 256
          example: Totoy GmbH Project
      required:
        - name
    DeleteProjectResponse:
      title: DeleteProjectResponse
      type: object
      additionalProperties: false
      properties:
        project_id:
          description: The unique identifier of a `Project`.
          maxLength: 28
          pattern: ^pj_[a-zA-Z0-9]{25}$
          type: string
          example: pj_avX7imfLaPcQnv5ckvGlOEBA9
        knowledge_base_ids:
          description: A list of `knowledge_base_ids` that were assigned to the `Project`.
          type: array
          items:
            type: string
            maxLength: 28
            pattern: ^kb_[a-zA-Z0-9]{25}$
          maxItems: 1500
          example: []
        source_ids:
          description: A list of `source_ids` of `Sources` that were assigned to the `Project`.
          type: array
          items:
            type: string
            maxLength: 29
            pattern: ^src_[a-zA-Z0-9]{25}$
            description: Unique identifier for a `Source` that was assigned to the `Project`.
          maxItems: 10000
          example:
            - src_oXiYDg8QOc9JsOk86idRXiywD
            - src_qoY7rSGkiWtn4NP8kPXc7xzrq
        deleted:
          description: Indicates whether the `Project`, the `Sources` and `Knowledge Bases` have been successfully deleted.
          type: boolean
          example: true
      required:
        - project_id
        - knowledge_base_ids
        - source_ids
        - deleted
    ModifyProjectRequest:
      title: ModifyProjectRequest
      description: Request body for modifying a `Project`.
      type: object
      additionalProperties: false
      properties:
        name:
          description: The name of the `Project`.
          type: string
          maxLength: 256
          example: Totoy GmbH Project
    Organization:
      title: Organization
      description: The `Organization` object represents an organization in the system.
      type: object
      additionalProperties: false
      properties:
        organization_id:
          description: The unique identifier of an `Organization`
          maxLength: 29
          pattern: ^org_[a-zA-Z0-9]{25}$
          type: string
          example: org_sjd823ndpaxy8223ndm0paq53
        name:
          description: The `Organization's` name.
          type: string
          maxLength: 256
          example: Totoy GmbH
        created_at:
          description: Date-time of when the `Organization` was created, in ISO 8601 format
          type: string
          format: date-time
          example: '2023-07-05T12:34:13Z'
        updated_at:
          description: Date-time of when the `Organization` was last modified, in ISO 8601 format
          type: string
          format: date-time
          example: '2024-07-05T12:34:13Z'
        limits:
          description: The usage limits of the `Organization`.
          type: object
          properties:
            assistant_messages:
              description: The limit of `Messages` with the role `assistant` that can be generated.
              type: integer
              example: 100000
            document_sources_pages:
              description: The limit of `Document Sources` pages that can be stored.
              type: integer
              example: 50000
            text_sources:
              description: The limit of `Text Sources` that can be stored.
              type: integer
              example: 50000
            projects:
              description: The limit of `Projects` that can be created.
              type: integer
              example: 10
            knowledge_bases:
              description: The limit of `Knowledge Bases` that can be created.
              type: integer
              example: 10
            type:
              description: Whether the limit is a hard limit, a soft limit, or there is no limit at all. Hard limits will block the service if the limit is reached. Soft limits are for informational purposes only. None means that there is no limit on `Organization` level.
              type: string
              enum:
                - hard
                - soft
                - none
              example: hard
          nullable: true
          example:
            assistant_messages: 100000
            document_sources_pages: 50000
            text_sources: 50000
            projects: 10
            knowledge_bases: 10
            type: hard
        usage:
          description: The usage of the `Organization`.
          type: object
          properties:
            assistant_messages:
              description: The number of `Messages` with the role `assistant`, used by the `Organization` in the current billing period.
              type: object
              properties:
                knowledge_bases_chats:
                  description: The number of `Knowledge Base Chat Messages` with the role `assistant`, used by the `Organization` in the current billing period.
                  type: integer
                  example: 13542
                explanations:
                  description: The number of `Explanation Messages` with the role `assistant`, used by the `Organization` in the current billing period.
                  type: integer
                  example: 12653
                total:
                  description: The total number of `Messages` with the role `assistant`, used by the `Organization` in the current billing period.
                  type: integer
                  example: 26195
            projects:
              description: The number of `Projects` created in the `Organization`.
              type: integer
              example: 7
            knowledge_bases:
              description: The number of `Knowledge Bases` created in the `Organization`.
              type: integer
              example: 7
            text_sources:
              description: The number of `Text Sources` stored in the `Organization`.
              type: integer
              example: 3756
            document_sources_pages:
              description: The number of `Document Sources` pages stored in the `Organization`.
              type: integer
              example: 2534
          example:
            assistant_messages:
              knowledge_bases_chats: 13542
              explanations: 12653
              total: 26195
            projects: 7
            knowledge_bases: 7
            text_sources: 3756
            document_sources_pages: 2534
        status:
          description: Wether the `Organization` is active or suspended.
          type: string
          enum:
            - active
            - suspended
          example: active
          default: active
      required:
        - organization_id
        - name
    ExtractionRequest:
      title: ExtractionRequest
      type: object
      additionalProperties: false
      properties:
        model:
          description: The name of the model that will be used for the extraction. A model name without a date is an alias to the latest version of that model, i.e. `rre-de` always points to the latest version of `rre-de`.
          type: string
          enum:
            - rre-de-2025-02-14
            - rre-de-2025-03-31
            - rre-de
          example: rre-de-2025-03-31
        document:
          description: Base64-encoded contents of a document (PDF, JPG or PNG)
          type: string
          format: byte
          example: JVBERi0xLjUNCiW1tbW1DQox...
        expand_abbreviations:
          description: If set to true, the extraction will expand abbreviations in the extracted fields.
          type: boolean
          default: false
          example: false
      required:
        - document
        - model
    Review:
      title: Review
      type: object
      description: Review recommendation for a specific extracted field
      properties:
        reasoning:
          type: string
          description: Explanation for the review decision
        recommended:
          type: boolean
          description: Indicates whether a review is recommended
      required:
        - reasoning
        - recommended
    ExtractionField:
      title: ExtractionField
      type: object
      description: Represents the content and review recommendation for a single extracted field.
      properties:
        content:
          oneOf:
            - type: string
              description: The extracted content for this field.
              example: Vienna
              nullable: true
            - type: integer
              description: The extracted content for this field as an integer.
              example: 42
              nullable: true
            - type: number
              format: float
              description: The extracted content for this field as a float.
              example: 1
              nullable: true
            - type: boolean
              description: The extracted content for this field as a boolean.
              example: true
              nullable: true
            - type: string
              format: date-time
              description: The extracted content for this field as a datetime string, in ISO 8601 format.
              example: '2025-03-31T14:00:00Z'
              nullable: true
            - type: string
              format: date
              description: The extracted content for this field as a date string, in ISO 8601 format.
              example: '2025-03-31'
              nullable: true
        review:
          $ref: '#/components/schemas/Review'
      nullable: true
      required:
        - content
        - review
    ExtractionResponse:
      title: ExtractionResponse
      type: object
      properties:
        fields:
          description: The extracted data fields and review recommendations. Each key represents a field name, and the value conforms to the `ExtractionField` schema.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ExtractionField'
          example:
            referral_diagnosis:
              content: C61 - Castration-resistant prostate cancer in progress, N28.1 - Right renal cyst, F52.2 - Erectile dysfunction
              review:
                reasoning: The referral diagnosis is clearly stated with multiple diagnoses. The referral is complete and no review is needed.
                recommended: false
            ordered_procedure:
              content: MRI of the prostate, CT of the abdomen, PSA test
              review:
                reasoning: The ordered procedures are clearly stated. No review is needed.
                recommended: false
      required:
        - fields
    ExtractionFieldString:
      title: ExtractionFieldString
      type: object
      description: Represents the content and review recommendation for a single extracted field with content of type string.
      properties:
        content:
          type: string
          description: The extracted content for this field.
          example: Vienna
          nullable: true
        review:
          $ref: '#/components/schemas/Review'
      required:
        - content
        - review
    ExtractionFieldDate:
      title: ExtractionFieldDate
      type: object
      description: Represents the content and review recommendation for a single extracted field with content of type date string.
      properties:
        content:
          type: string
          format: date
          description: The extracted content for this field as a date string, in ISO 8601 format.
          example: '2025-03-31'
          nullable: true
        review:
          $ref: '#/components/schemas/Review'
      nullable: true
      required:
        - content
        - review
    ExtractionFieldRadiologyReferralExtractionGermanGender:
      title: ExtractionFieldRadiologyReferralExtractionGermanGender
      type: object
      description: Represents the content and review recommendation for the patient_gender field in a German radiology referral extraction.
      properties:
        content:
          type: string
          description: The extracted content for this field.
          example: Vienna
          enum:
            - Herr
            - Frau
            - Divers
          nullable: true
        review:
          $ref: '#/components/schemas/Review'
      nullable: true
      required:
        - content
        - review
    ExtractionFieldRadiologyReferralExtractionGermanInsuranceProvider:
      title: ExtractionFieldRadiologyReferralExtractionGermanInsuranceProvider
      type: object
      description: Represents the content and review recommendation for the insurance_provider field in a German radiology referral extraction.
      properties:
        content:
          type: string
          description: The extracted content for this field.
          example: SVS-GW
          enum:
            - ÖGK-W
            - ÖGK-N
            - ÖGK-B
            - ÖGK-O
            - ÖGK-ST
            - ÖGK-K
            - ÖGK-S
            - ÖGK-T
            - ÖGK-V
            - BVAEB-EB
            - BVAEB-OEB
            - SVS-GW
            - SVS-LW
            - KFA-Wien
            - KFA-Baden
            - KFA-Linz
            - KUF-Gem
            - KUF-Land
            - KUF-Lehrer
            - KFA-Steyr
            - KFA-Wels
            - KFA-Graz
            - KFA-Villach
            - KFA-Salzburg
            - KFA-Hallein
            - KUFT-Gem
            - KUFT-Land
            - KUFT-Lehrer
            - MA-Wien
            - LAND-OÖ
            - MA-Steyr
            - Privat
          nullable: true
        review:
          $ref: '#/components/schemas/Review'
      nullable: true
      required:
        - content
        - review
    ExtractionFieldRadiologyReferralExtractionGermanEmploymentStatus:
      title: ExtractionFieldRadiologyReferralExtractionEmploymentStatus
      type: object
      description: Represents the content and review recommendation for the employment_status field in a German radiology referral extraction.
      properties:
        content:
          type: integer
          description: The extracted content for this field.
          example: 1
          enum:
            - 1
            - 5
          nullable: true
        review:
          $ref: '#/components/schemas/Review'
      nullable: true
      required:
        - content
        - review
    ExtractionResponseRadiologyReferralExtractionGerman:
      title: ExtractionResponseRadiologyReferralExtractionGerman
      type: object
      properties:
        fields:
          description: The extracted data fields and review recommendations for a Radiology Referral Extraction.
          additionalProperties: false
          type: object
          properties:
            patient_first_name:
              $ref: '#/components/schemas/ExtractionFieldString'
            patient_last_name:
              $ref: '#/components/schemas/ExtractionFieldString'
            patient_birth_date:
              $ref: '#/components/schemas/ExtractionFieldDate'
            patient_social_security_number:
              $ref: '#/components/schemas/ExtractionFieldString'
            patient_gender:
              $ref: '#/components/schemas/ExtractionFieldRadiologyReferralExtractionGermanGender'
            patient_title:
              $ref: '#/components/schemas/ExtractionFieldString'
            patient_address:
              $ref: '#/components/schemas/ExtractionFieldString'
            patient_city:
              $ref: '#/components/schemas/ExtractionFieldString'
            patient_postal_code:
              $ref: '#/components/schemas/ExtractionFieldString'
            insurance_provider:
              $ref: '#/components/schemas/ExtractionFieldRadiologyReferralExtractionGermanInsuranceProvider'
            employment_status:
              $ref: '#/components/schemas/ExtractionFieldRadiologyReferralExtractionGermanEmploymentStatus'
            insured_first_name:
              $ref: '#/components/schemas/ExtractionFieldString'
            insured_last_name:
              $ref: '#/components/schemas/ExtractionFieldString'
            insured_birth_date:
              $ref: '#/components/schemas/ExtractionFieldDate'
            insured_social_security_number:
              $ref: '#/components/schemas/ExtractionFieldString'
            employer_name:
              $ref: '#/components/schemas/ExtractionFieldString'
            employer_address:
              $ref: '#/components/schemas/ExtractionFieldString'
            employer_city:
              $ref: '#/components/schemas/ExtractionFieldString'
            employer_postal_code:
              $ref: '#/components/schemas/ExtractionFieldString'
            referral_date:
              $ref: '#/components/schemas/ExtractionFieldDate'
            referral_diagnosis:
              $ref: '#/components/schemas/ExtractionFieldString'
            clinical_symptoms:
              $ref: '#/components/schemas/ExtractionFieldString'
            ordered_procedure:
              $ref: '#/components/schemas/ExtractionFieldString'
            previous_findings:
              $ref: '#/components/schemas/ExtractionFieldString'
            referrer_first_name:
              $ref: '#/components/schemas/ExtractionFieldString'
            referrer_last_name:
              $ref: '#/components/schemas/ExtractionFieldString'
            referrer_title:
              $ref: '#/components/schemas/ExtractionFieldString'
            referrer_address:
              $ref: '#/components/schemas/ExtractionFieldString'
            referrer_city:
              $ref: '#/components/schemas/ExtractionFieldString'
            referrer_postal_code:
              $ref: '#/components/schemas/ExtractionFieldString'
            partner_contract_number:
              $ref: '#/components/schemas/ExtractionFieldString'
            report_delivery_address:
              $ref: '#/components/schemas/ExtractionFieldString'
          example:
            referral_diagnosis:
              content: C61 - Castration-resistant prostate cancer in progress, N28.1 - Right renal cyst, F52.2 - Erectile dysfunction
              review:
                reasoning: The referral diagnosis is clearly stated with multiple diagnoses. The referral is complete and no review is needed.
                recommended: false
            ordered_procedure:
              content: MRI of the prostate, CT of the abdomen, PSA test
              review:
                reasoning: The ordered procedures are clearly stated. No review is needed.
                recommended: false
      required:
        - fields
    ClassificationRequest:
      title: ClassificationRequest
      type: object
      additionalProperties: false
      properties:
        model:
          description: The name of the model that will be used for the Classification. A model name without a date is an alias to the latest version of that model, i.e. `rdc-de` always points to the latest version of `rdc-de`.
          type: string
          example: rdc-de-2025-02-14
          enum:
            - rdc-de-2025-02-14
            - rdc-de
        document:
          description: Base64-encoded contents of a document (PDF, JPG or PNG)
          type: string
          format: byte
          example: JVBERi0xLjUNCiW1tbW1DQox...
      example:
        model: rdc-de-2025-02-14
        document: JVBERi0xLjUNCiW1tbW1DQox...
      required:
        - document
        - model
    ClassificationResponseRadiologyDocumentClassificationGerman:
      title: ClassificationResponseRadiologyDocumentClassificationGerman
      properties:
        label:
          type: object
          description: The label
          properties:
            reasoning:
              type: string
              description: Explanation for the review decision
              example: Considering the title 'MR-Zuweisung' and the contents, particularly the fact that it is a referral for MRI examination due to specific clinical symptoms and conditions noted, the most appropriate classification is 'Zuweisung'. The document fits perfectly as a referral for imaging based on diagnostic requirements set by a physician.
            prediction:
              type: string
              description: The predicted label
              example: Zuweisung
              enum:
                - Zuweisung
                - Blutbefund
                - Anamnesebogen
                - Vorbefund
                - Arzt/Patientenbrief
                - Bewilligung
                - Implantats Ausweis
                - Ausweis
                - E-Card/ERW Card
                - Einverständniserklärung/DSGVO/Minderjährige
                - Patientendatenblatt
                - Einladungsschreiben Mammo Screening
        review:
          type: object
          description: Review recommendations for this field
          properties:
            reasoning:
              type: string
              description: Explanation for the review decision
              example: The document is clearly legible and formatted as a professional referral, indicating no need for further review. The content is straightforward and matches the 'Zuweisung' classification.
            recommended:
              type: boolean
              description: Indicates whether a review is recommended
              example: false
      example:
        label:
          reasoning: Considering the title 'MR-Zuweisung' and the contents, particularly the fact that it is a referral for MRI examination due to specific clinical symptoms and conditions noted, the most appropriate classification is 'Zuweisung'. The document fits perfectly as a referral for imaging based on diagnostic requirements set by a physician.
          prediction: Anamnesebogen
        review:
          reasoning: The document is clearly legible and formatted as a professional referral, indicating no need for further review. The content is straightforward and matches the 'Zuweisung' classification.
          recommended: false
  examples:
    explanation-request-example-1:
      summary: Explanation Request Example 1
      description: An example for generating a plain language `Explanation` in English for a German source document.
      value:
        output_language: en
        language_level: plain
        source_id: src_dmZ7imKLaPcQnv5ckvGlOEAA7
        markdown_response: true
    explanation-request-example-2:
      summary: Explanation Request Example 2
      description: An example for a follow-up question based on the first answer from the first Explanation request. The entire conversation history has to be provided in the request and the new question has to be the last element in the messages array.
      value:
        output_language: en
        language_level: plain
        source_id: src_dmZ7imKLaPcQnv5ckvGlOEAA7
        messages:
          - role: assistant
            content: |-
              Hey!
              This is a letter from the Austrian tax office.
              They are informing you about your obligation to submit quarterly VAT returns if your annual turnover is more than €35,000.
              However, if you submit a VAT return for the month of January on time, you can choose to submit monthly returns instead.
              If your annual turnover is more than €100,000, you are required to submit monthly VAT returns.
              Since your VAT returns and payments for 2021 do not cover the entire period, they are asking you to fill out the enclosed form to provide your actual annual turnover.
              This is important to avoid sending you incorrect reminders.
              If you have any questions, you can contact the service center at 050 233 233.
              Take care!
          - role: user
            content: Do I have to do something?
        markdown_response: true
    explanation-response-example-1:
      summary: Explanation Response Example 1
      description: An example for a generated plain language `Explanation` in English for a German source document.
      value:
        project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
        output_language: en
        language_level: plain
        source_id: src_dmZ7imKLaPcQnv5ckvGlOEAA7
        answer:
          role: assistant
          content: |-
            Hey!
            This is a letter from the Austrian tax office.
            They are informing you about your obligation to submit quarterly VAT returns if your annual turnover is more than €35,000.
            However, if you submit a VAT return for the month of January on time, you can choose to submit monthly returns instead.
            If your annual turnover is more than €100,000, you are required to submit monthly VAT returns.
            Since your VAT returns and payments for 2021 do not cover the entire period, they are asking you to fill out the enclosed form to provide your actual annual turnover.
            This is important to avoid sending you incorrect reminders.
            If you have any questions, you can contact the service center at 050 233 233.
            Take care!
        markdown_response: true
    explanation-response-example-2:
      summary: Explanation Response Example 2
      description: An example for a generated answer for a follow-up question to the second `Explanation` request.
      value:
        project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
        output_language: en
        language_level: plain
        source_id: src_dmZ7imKLaPcQnv5ckvGlOEAA7
        answer:
          role: assistant
          content: |-
            Yes, based on the information in the letter, you are required to fill out the enclosed form with your actual annual turnover and return it to your local tax office.
            This is necessary to ensure that your VAT returns and payments are accurate and to avoid receiving incorrect reminders.
            Please make sure to complete and return the form as requested.
            If you have any further questions or need assistance, you can contact the service center at 050 233 233.
        markdown_response: true
    knowledge-bases-list-example:
      summary: Knowledge Bases List Example
      description: An example for a list of `Knowledge Bases`.
      value:
        data:
          - knowledge_base_id: kb_feMfJbeqbAEj4u8K5HqmKpUbY
            name: Totoy Customer Support Assistant
            instructions: You are a customer support assistant for the customers of the company Totoy.
            project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
            created_at: '2023-07-05T12:00:00Z'
            updated_at: '2023-07-05T12:00:00Z'
          - knowledge_base_id: kb_kfjd34sfgsd2gfskijuh23zgt
            name: Totoy Internal Assistant
            instructions: You are an internal assistant for the employees of the company Totoy.
            project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
            created_at: '2023-07-05T12:34:13Z'
            updated_at: '2023-07-05T12:34:13Z'
    create-knowledge-base-request-example:
      summary: Create Knowledge Base Request Example
      description: An example for creating a new `Knowledge Base`.
      value:
        name: Totoy Customer Support Assistant
        instructions: You are a customer support assistant for the customers of the company Totoy.
        project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
    knowledge-base-example-1:
      summary: Knowledge Base Example 1
      description: An example for a `Knowledge Base`.
      value:
        knowledge_base_id: kb_feMfJbeqbAEj4u8K5HqmKpUbY
        name: Totoy Customer Support Assistant
        instructions: You are a customer support assistant for the customers of the company Totoy.
        project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
        created_at: '2023-07-05T12:00:00Z'
        updated_at: '2023-07-05T12:00:00Z'
    knowledge-base-id-example:
      summary: Knowledge Base ID Example
      description: An example for a `knowledge_base_id`.
      value: kb_feMfJbeqbAEj4u8K5HqmKpUbY
    delete-knowledge-base-response-example:
      summary: Delete Knowledge Base Response Example
      description: An example response for a `Knowledge Base` DELETE Request.
      value:
        knowledge_base_id: kb_feMfJbeqbAEj4u8K5HqmKpUbY
        deleted: true
    modify-knowledge-base-request-example:
      summary: Modify Knowledge Base Request Example
      description: An example for updating the `name` and `instructions` of a `Knowledge Base`.
      value:
        name: Totoy Developer Support Assistant
        instructions: You are a developer support assistant for the developers using the Totoy API.
    knowledge-base-example-2:
      summary: Knowledge Base Example 2
      description: An example for a modified `Knowledge Base`, where `name` and `instructions` have been updated.
      value:
        knowledge_base_id: kb_feMfJbeqbAEj4u8K5HqmKpUbY
        name: Totoy Developer Support Assistant
        instructions: You are a developer support assistant for the developers using the Totoy API.
        project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
        created_at: '2023-07-05T12:00:00Z'
        updated_at: '2023-07-15T12:34:56Z'
    knowledge-base-chat-request-example-1:
      summary: Knowledge Base Chat Request Example 1
      description: An example for requesting a plain English answer to a question to a `Knowledge Base`.
      value:
        output_language: en
        language_level: plain
        markdown_response: true
        messages:
          - role: user
            content: Who are the co-founders of Totoy?
    knowledge-base-chat-request-example-2:
      summary: Knowledge Base Chat Request Example 2
      description: An example for requesting a plain English answer to a follow-up question to a `Knowledge Base`, based on the response to a previous question.
      value:
        output_language: en
        language_level: plain
        messages:
          - role: user
            content: Who are the co-founders of Totoy?
          - role: assistant
            content: |-
              Hi!
              The co-founders of Totoy are Benedikt Hielscher, Francis Rafal, Marcel Koller, Michael Perger and Simon Hoffmann.[R1]
            references:
              - text: '[R1]'
                source_id: src_oXiYDg8QOc9JsOk86idRXiywD
                page_number: 5
                backlink: https://www.totoy.ai/totoy-company-overview.pdf
                custom_metadata:
                  internal_tag: general_documents
          - role: user
            content: What are they trying to achieve?
        markdown_response: true
    knowledge-base-chat-response-example-1:
      summary: Knowledge Base Chat Response Example 1
      description: An example for a generated plain English answer to a question to a `Knowledge Base`.
      value:
        project_id: pj_avX7imfLaPcQnv5ckvGlOEBA9
        output_language: en
        language_level: plain
        answer:
          role: assistant
          content: |-
            Hi!
            The co-founders of Totoy are Benedikt Hielscher, Francis Rafal, Marcel Koller, Michael Perger and Simon Hoffmann.[R1]
          references:
            - text: '[R1]'
              source_id: src_oXiYDg8QOc9JsOk86idRXiywD
              page_number: 5
              backlink: https://www.totoy.ai/totoy-company-overview.pdf
              custom_metadata:
                internal_tag: general_documents
        knowledge_base_id: kb_feMfJbeqbAEj4u8K5HqmKpUbY
        markdown_response: true
    knowledge-base-chat-response-example-2:
      summary: Knowledge Base Chat Response Example 2
[...]
