openapi: 3.0.3
info:
  version: 0.1.0
  title: Totoy API
  description: The Totoy REST API. Totoy translates and explains text, PDFs and scanned documents in 18 languages and 6 CEFR language levels
  termsOfService: https://www.totoy.ai
  contact:
    name: Totoy Support
    email: support@totoy.ai
servers:
  - url: https://api.totoy.ai
paths:
  /v1/explanation:
    post:
      summary: Explains a given document in a specified output language and CEFR level
      operationId: explanation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - document
                - output_language
                - history
              properties:
                document:
                  type: string
                  nullable: true
                  description: Base64-encoded PDF, JPG or PNG file
                  example: SGVsbG8sIFdvcmxkIQ==
                input_language:
                  type: string
                  enum:
                    - auto
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Input Language ID of the document (optional)
                  example: auto
                  default: auto
                output_language:
                  type: string
                  enum:
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Output Language ID for the generated explanation
                  example: en
                output_language_level:
                  type: string
                  enum:
                    - a1
                    - a2
                    - b1
                    - b2
                    - c1
                    - c2
                  description: Output Language CEFR Level
                  default: b1
                history:
                  type: array
                  nullable: true
                  description: Conversation history to provide context for the model about the document. Empty on initial question.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of entry (e.g., question, answer, context).
                      role:
                        type: string
                        enum:
                          - user
                          - assistant
                          - system
                      content:
                        type: string
                        description: The text content of the history entry.
            examples:
              example1:
                summary: Example first request
                value:
                  document: SGVsbG8sIFdvcmxkIQ==
                  input_language: auto
                  output_language: en
                  output_language_level: b1
                  history:
              example2:
                summary: Example chat request
                value: 
                  document:
                  input_language: auto
                  output_language: en
                  output_language_level: b1
                  history:
                    - type: context
                      role: system
                      content: |
                        villach :stadt
                        Bau-Transporte-Erdbau Musterfirma Herrn Ing. Max Mustermann Musterstraße 1 9500 Villach
                        Abteilung
                        ===
                        9500 Villach, Rathaus, Rathausplatz 1 www.villach.at
                        Auskunft Inge Muster T 04242 / 205-XXXX F 04242 / 205-XXXX E vorname.nachname@villach.at
                        DVR: 0013145 Unsere Zahl: ÖA/01/17/extern Villach, 1. April 20xx
                        Auftrag für Humusarbeiten
                        Sehr geehrter Herr Ingenier Mustermann,
                        vielen Dank für Ihr Angebot vom 31. März 20xx an die Stadt Villach, Abteilung Tiefbau. Gerne erteilen wir Ihnen den Auftrag „Humusabtrag Waldweg Landskron“.
                        | | in EUR |
                        | - | - |
                        | Leistungssumme für Baggerarbeit von rund | 800,00 |
                        | abzüglich Rückkauf von Humus ca. 150 m3 à EUR 2,40 | 360,00 |
                        | Auftragssumme | 440,00 |
                        Alle Beträge inklusive 20 % Umsatzsteuer. Ausführung innerhalb 1 Woche ab Bestellung. Zahlungsziel ist 30 Tage netto.
                        Es gelten die Preise und Bedingungen des Angebotes vom 31. März 20xx.
                        Freundliche Grüße
                        Inge Muster Abteilungsleiterin
                    - type: question
                      role: user
                      content: Totoy what is this?
                    - type: answer
                      role: assistant
                      content: |
                        Hi! You got a letter confirming that your offer for soil work in Villach was accepted.
                        The job is about removing soil on a specific path. The cost is EUR 440.00, including a 20% tax.
                        The work should be done within a week of ordering, and you have 30 days to pay.
                        The terms and prices from your offer on March 31, 20xx, apply. Kind regards, Inge Muster, Department Head.
                        That's it if you have further question, just let me know.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - explanation
                  - document_id
                properties:
                  explanation:
                    type: string
                    description: Generated explanation based on the provided document
                    example: This is a letter from the City of Vienna. It's about the "Viennese Housing Bonus '23". This bonus is meant to help people with the increasing costs of living, especially housing costs. Each address in Vienna can receive 200 euros. To be eligible, you need to have your main residence in Vienna and be at least 18 years old by June 28, 2023. You can apply for the bonus online between July 17 and September 30, 2023, using the password provided in the letter. Remember, only one application per address is allowed. For more information and to apply, visit wien.gv.at/wohnbonus23.
                  document_id:
                    type: string
                    description: Uniqe Document ID to reference for follow-up questions
                    example: d8103263-4b9b-4c1e-96e6-7e5936e8fe1f      
  /v1/translation:
    post:
      summary: Translates text to a target language
      operationId: translation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - output_language
              properties:
                text:
                  type: string
                  description: Input Text for Translation
                  example: Hello, World!
                input_language:
                  type: string
                  enum:
                    - auto
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Input Language ID of the document (optional)
                  example: auto
                  default: auto
                output_language:
                  type: string
                  enum:
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Output Language ID for the generated explanation
                  example: de
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - translation
                properties:
                  translation:
                    type: string
                    description: Translated text
                    example: Hallo, Welt!
  /v1/document-translation:
    post:
      summary: Translates a document to a target language
      operationId: documentTranslation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - document
                - output_language
              properties:
                document:
                  type: string
                  description: Base64-encoded PDF, JPG or PNG file
                  example: SGVsbG8sIFdvcmxkIQ==
                input_language:
                  type: string
                  enum:
                    - auto
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Input Language ID of the document (optional)
                  example: auto
                  default: auto
                output_language:
                  type: string
                  enum:
                    - ar
                    - bs
                    - de
                    - es
                    - en
                    - fa
                    - fr
                    - hr
                    - hu
                    - it
                    - pl
                    - ro
                    - sk
                    - sl
                    - sr
                    - tl
                    - tr
                    - uk
                  description: Output Language ID for the document translation
                  example: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - translated_document
                properties:
                  translated_document:
                    type: string
                    description: base64-encoded translated document
                    example: SGVsbG8sIFdvcmxkIQ==
  /v1/document:
    post:
      summary: Inserts a document into the database and returns a document id.
      operationId: insertDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document:
                  type: string
                  format: byte
                  description: The document content encoded in base64.
              required:
               - document
      responses:
        '200':
          description: Document successfully inserted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  doc_id:
                    type: string
                    description: The unique identifier for the inserted document.
        '400':
          description: Invalid request format.
  /v1/auth:
    post: 
      summary: Authenticates the device and returns an access token.
      operationId: authenticateDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
               deviceId:
                type: string
                description: A unique identifier for the device.
              required:
                - deviceId
      responses:
          '200':
            description: Authentication successful.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    accessToken:
                      type: string
                      description: Access token for the device to use in subsequent requests.
                    refreshToken:
                      type: string
                      description: (Optional) A token to use for obtaining a new access token once the current one expires.
          '401':
            description: Authentication failed.
  /v1/user:
    post:
      summary: Adds a new user to the system
      operationId: addUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
              required:
                - name
                - email
      responses:
        '201':
          description: User successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    description: The unique identifier for the newly created user.
        '400':
          description: Invalid input provided.
  /v1/user/{userId}:
    get:
      summary: Retrieves a user's details
      operationId: getUser
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user to retrieve
          schema:
            type: string
      responses:
        '200':
          description: User details retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
        '404':
          description: User not found.